{% extends 'base.html.twig' %}

{% block title %}Lane{% endblock %}

{% block body %}
    <h1>Lane</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lane.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lane.title }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ lane.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lane_index') }}">back to list</a>

    <a href="{{ path('app_lane_edit', {'id': lane.id}) }}">edit</a>

    {{ include('lane/_delete_form.html.twig') }}
{% endblock %}
